SNN/__pycache__/*
kaon_pruebas2
merged_data_kaon_pruebas
Gráficas_red
lectura_resultados
logs
merged_data_kaon
merged_data_pion
merged_data_proton
plots_merged
resultados
*.dat
Photon_matrix.py
plots.py
read.py
SNN_inference.py
tiempos.py
SNN_clasificacion_binaria.py
SNN_doble.py
dataset_modified.py
Graficas_dataset
Experimento.py
LMU.py